.profile {
  width: 100%;
  margin-top: 120px;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.profile .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 600px;
}
.profile .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
}
.profile .right table {
  width: 100%;
  text-align: center;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}
.profile .right table thead {
  background-color: #2b2b2b;
  color: #fff;
}
.profile .right table tr th,
.profile .right table tr td {
  padding: 20px;
}
.profile .right table tbody tr:nth-child(even) {
  background-color: lightgray;
}
